.main {
  margin: 80px 0;
  padding: 10px 60px;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  position: relative;
  width: 400px;
  height: auto;
  border-radius: 0 0 300px 300px;
}

.right {
  flex: 1;
}

.firstName {
  color: #0d7b48;
  font-size: 5rem;
  font-weight: 800;
  line-height: 50px;
  display: flex;
  justify-content: flex-end;
}

.lastName {
  color: #354259;
  font-size: 5rem;
  font-weight: 800;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
  .firstName {
    font-size: 4rem;
  }

  .lastName {
    font-size: 4rem;
  }
}

@media screen and (max-width: 991px) {
  .img {
    width: 300px;
  }

  .firstName {
    font-size: 3rem;
  }

  .lastName {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .main {
    flex-direction: column;
    margin: 10px 0;
  }

  .left {
    margin-top: 20px;
  }

  .right {
    margin: 50px 0px;
  }

  .firstName {
    line-height: 28px;
    justify-content: center;
  }
}

@media screen and (max-width: 315px) {
  .img {
    width: 100%;
    min-width: 250px;
  }
  .firstName {
    font-size: 15vw;
  }

  .lastName {
    font-size: 15vw;
  }
}
