.main {
  padding: 10px 60px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.left {
  flex-wrap: wrap;
  flex: 1;
}

.wrapper {
  background-color: #cac58f;
  border-radius: 40px;
  height: 400px;
  width: 400px;
  position: relative;
}

.img {
  position: absolute;
  object-fit: cover;
  height: 470px;
  width: 400px;
  top: -70px;
  animation: imgAnimation 2s;
  animation-timing-function: ease-in-out;
}

.right {
  flex: 1;
}

.firstName {
  color: #0d7b48;
  font-size: 5rem;
  font-weight: 800;
  line-height: 50px;
  display: flex;
  justify-content: flex-end;
  animation-name: headShake;
  animation-duration: 1s;
  animation-delay: 3s;
}

.lastName {
  color: #354259;
  font-size: 5rem;
  font-weight: 800;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    height: 300px;
    width: 300px;
  }

  .img {
    height: 370px;
    width: 300px;
  }

  .firstName {
    font-size: 4rem;
  }

  .lastName {
    font-size: 4rem;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    height: 250px;
    width: 250px;
  }

  .img {
    height: 270px;
    width: 200px;
    top: -20px;
    left: 10px;
  }

  .firstName {
    font-size: 3rem;
  }

  .lastName {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .left {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .wrapper {
    border-radius: 40px;
    height: 350px;
    width: 350px;
    position: relative;
  }

  .img {
    position: absolute;
    object-fit: cover;
    height: 410px;
    width: 300px;
    top: -60px;
  }

  .right {
    flex: auto;
    margin: 50px 0px;
    width: 100%;
  }

  .firstName {
    line-height: 28px;
    justify-content: center;
  }

  .lastName {
    justify-content: center;
  }
}

@media screen and (max-width: 520px) {
  .main {
    padding: 2px 5px;
  }

  .wrapper {
    border-radius: 40px;
    height: auto;
    width: 100%;
    height: 293px;
  }

  .img {
    position: relative;
    object-fit: cover;
    height: auto;
    max-width: 100%;
    left: -5px;
    top: -50px;
  }
}

@media screen and (max-width: 315px) {
  .wrapper {
    max-width: 100%;
    height: auto;
  }

  .firstName {
    font-size: 15vw;
  }

  .lastName {
    font-size: 15vw;
  }
}
